
journeymap/

logs/

resourcepacks/

saves/

shaderpacks/

backups/

asm/
\.curseclient

usernamecache\.json

usercache\.json

optionsshaders\.txt

optionsof\.txt

options\.txt

crash-reports/

\.analytics/

config\.tmp/

minecraftinstance\.json

servers.dat

screenshots/

.ReAuth.cfg

crafttweaker\.log

config/jei/lookupHistory\.zip

config/jei/tooltipCache\.zip
